# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
.next/
out/
dist/
build/

# Strapi
cms/.cache/
cms/build/
cms/.tmp/


# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/
*.code-workspace

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db
